body {
    font-family: 'Kodchasan', sans-serif;
}

html {
    font-size: 16px;
}

#mainNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.96rem;
    padding: 0.315rem 1.76rem 0.315rem 1.26rem;
}

.navbar-toggler {
    border: none;
    padding: 0rem;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    width: 1.575rem;
    height: 1.575rem;
    margin-top: 0.126rem;
    padding: 0rem 0rem;
    /* Modifica la apariencia del toggle btn */
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23ffffff' stroke-width='4' stroke-linecap='square' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav {
    text-align: end;
}

#mainNavbar .nav-link {
    margin-top: 1.07rem;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 1.45rem;
    color: rgba(228, 143, 42, 1);
}

/* COMPANY NAME */
#mainNavbar .navbar-brand {
    font-family: 'Chivo Mono', monospace;
    font-size: 1.13rem;
    color: white;
}


/* -----------------------------------------CLASES EMERGENTES ------------------------------------------- */


/* Afecta a .preloaderVideo */
.hide-preloader {
    visibility: hidden;
}

/* Afecta a .switchVideo */
.slides .switchVideo {
    left: 50%;
}

/* Afecta a #mainNavbar */
#mainNavbar.newPadding {
    padding: 0.315rem 1.76rem 50.4rem 1.26rem;
    backdrop-filter: blur(5px);
    transition: background 500ms;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Afecta a .navbar */
.navbar.scrolled {
    backdrop-filter: blur(5px);
    transition: background 500ms;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Afecta a .mainDivVideo */
.mainDivVideo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

/* Afecta a .textIntro */
.linkHideTextIntro {
    margin-top: 2.52rem;
    opacity: 0;
    transition: opacity 0.5s;
}

/* Afecta a .mainExplainVideo*/
.linkHideCard {
    margin-top: 4.41rem;
    opacity: 0;
    transition: opacity 0.5s;
}

/* Afecta a .textIntro y .mainExplainVideo */
.linkShow {
    opacity: 1;
    transition: opacity 1s;
}

/* Afecta a .nameIntro */
@keyframes bajar-texto {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(1.26rem);
    }
}

.addMarginTop {
    position: absolute;
    left: 0%;
    padding: 0rem 1.89rem;
    animation-name: bajar-texto;
    animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* -------------------------- */

/* Afecta a .nameIntro */
@keyframes subir-texto {
    100% {
        transform: translateY(-0rem);
    }

    0% {
        transform: translateY(1.26rem);
    }
}

.removeMarginTop {
    animation-name: subir-texto;
    animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* -------------------------- */

/* Afecta a .mainPlayPauseSection */
.addMargin {
    margin-top: 0.063rem;
}


/* --------------------------------------------- SECTIONS ------------------------------------------- */


.sectionPrimera {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 2;
}

.sectionSegunda {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2rem;
    background-color: rgb(68, 68, 68);
}

.sectionTercera,
.sectionCuarta {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2rem;
}


/*------------------------------------------------- INTRO ------------------------------------------- */


/* CARD CON TITULO - EXPLICACION Y LOGOS */
.mainExplainVideo {
    display: flex;
    flex-direction: column;
    width: 17.70rem;
    margin-top: 4.35rem;
    background-blend-mode: multiply;
    border-radius: 0.63rem;
    background: rgba(0, 0, 0, 0.1);
}

/* PRIMER PARRAFO */
.nameIntro {
    margin-bottom: 0.315rem;
}

/* SPAN JORGE S. */
.nameBold {
    font-weight: 600;
}

/* TITULO DE LA CARD */
.videoProject {
    font-weight: 700;
    font-size: 1.26rem;
    margin-top: 0.882rem;
    margin-bottom: 0.756rem;
    color: white;
}

/* PARRAFO DESCRIPCIÓN DEL PROYECTO  */
.descExplain {
    width: 14.93rem;
    height: 5.86rem;
    font-weight: 300;
    font-size: 0.882rem;
    text-align: center;
    line-height: 1.13rem;
    overflow-y: scroll;
    color: white;
}

/* SCROLL INTERNO */
::-webkit-scrollbar {
    width: 0.252rem;
}

/* PARA EL THUMB*/
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 0.252rem;
}

/* PARA EL TRACK */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.252rem;
}


/*------------------------------------------------ EXPLAIN ------------------------------------------- */


/* CONATINER TITLE - EXPLAIN - LOGOS */
.explainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headDiv {
    padding-top: 3rem;
}

/* LOGOS DE LENGUAJES */
.logosDivExplainVideo {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.logosImgVideo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.126rem;
    margin-bottom: 0.63rem;
}

/* ------------------------------------------------ */

/*------------------------------------------------- VIDEO ------------------------------------------- */


/* CONTENEDOR DEL VIDEO */
.containerVideo {
    position: absolute;
    width: 100%;
    /* Hace mas grande el height del video */
    height: 100%;
    top: 0;
    left: 0;
    /* El video cubre todo el fondo */
    object-fit: cover;
    z-index: -1;
}

/* CONTIENE LOS DOS PRIMEROS PARRAFOS */
.mainDivIntro {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 100;
    font-size: 0.882rem;
    line-height: 1.13rem;
    padding-top: 5rem;
    padding-left: 2.27rem;
    padding-right: 2.27rem;
    color: white;
}

/* FONDO DEL PRELOADER */
.preloaderVideo {
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 100;
}

.gifPreloader {
    height: 100vh;
    background-color: white;
}

/* CONTIENE EL SWITCH Y LOS BOTONES PLAY - PAUSE */
.mainBtnSwith {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 105px;
    margin-bottom: 15px;
}

/* FONDO DE LOS BOTONES LA PARTE GRIS*/
.btnSwitchVideo {
    position: absolute;
    width: 6.93rem;
    height: 2.27rem;
    margin-top: 3.02rem;
    border-radius: 0.252rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}

/* ELEMENTO MOVIL SWITCH LA PARTE NARANJA */
.switchVideo {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.252rem;
    transition-duration: 0.5s;
    background-color: rgb(228, 143, 42);
}

/* CONTIENE LOS BOTONES PLAY-PAUSE LAS FIGURAS */
.PlayPauseDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 6.93rem;
    height: 2.205rem;
    margin-top: 3.12rem;
    font-size: 1.575rem;
    color: white;
    z-index: 1;
}


/* ----------------------------------------------- REVIEW -------------------------------------------- */


/* CONTIENE EL BOTON ES LA MEDIDA MAIN */
.mainDivDarkMode {
    width: 15.25rem;
    height: 3.465rem;
    border-bottom-left-radius: 0.63rem;
    border-bottom-right-radius: 0.63rem;
    background-color: #EEEEEE;
}

/* BOTON QUE CONTIENE LAS PALABRA DARK / LIGHT */
.darkBtn {
    margin-top: 0.819rem;
    border: none;
    padding: 0rem;
    background-color: none;
    background-color: #EEEEEE;
}

/* PALABRA DARK  */
.spanDark {
    color: black;
    text-decoration: underline;
}

/* PALABRA LIGHT */
.spanLigth {
    color: white;
    text-decoration: underline;
    padding: 0rem;
    display: none;
}


/* --------------------------------- CHANGES DARK/LIGTH MODE ------------------------------------- */


/* OCULTA UNA DE LAS PALABRAS */
.btnHide {
    display: none;
}

.btnShow {
    display: block;
}

/* BACKGROUND GENERAL DE LA SECTION REVIEW */
.darkBackG {
    background-color: rgba(238, 238, 238, 1);
}

.darkBgCard {
    background-color: rgba(68, 68, 68, 1);
}

.fontReview {
    color: rgba(238, 238, 238, 1);
}

.fontExplainProject {
    color: rgba(68, 68, 68, 1);
}

/* --------------------------------------------------------------------- */

.mainReview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.63rem;
    border-top-right-radius: 0.63rem;
    background-color: rgb(238, 238, 238);
}

.secondReview,
.thirdReview {
    overflow: hidden;
}

.overVisible {
    overflow: visible;
}

/* NOMBRE DEL PROYECTO */
.ProjectNameReview {
    font-weight: 700;
    font-size: 1.575rem;
    margin-bottom: 1.26rem;
    line-height: 1.64rem;
    color: #E48F2A;
}

.imgContainerReview {
    background-image: url("images/FotoRoma.avif");
    background-size: cover;
    background-position: center center;
    width: 15.25rem;
    height: 13.86rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 0.63rem;
    background-color: #e31616ab;
}

.descExplainReview {
    width: 15.25rem;
    height: 10.90rem;
    font-weight: 300;
    font-size: 0.882rem;
    text-align: center;
    line-height: 1.13rem;
    color: #BCBCBC;
}

.titleContainerReview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTIENE LOS TRES LOGOS DE LENGUAJE */
.containerLogosReview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.567rem;
    margin-bottom: 2.52rem;
}

/* LOGOS DE LENGUAJE */
.imgLogosReview {
    width: 1.76rem;
    height: 1.76rem;
    margin: 0rem 0.315rem;
}

#person-img {
    width: 15.12rem;
    height: 12.6rem;
}

.cardHr {
    border: none;
    border-top: 0.095rem solid rgba(68, 68, 68, 1);
    margin: 0rem;
}

.titleReview {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 0.35rem;
    margin-bottom: 1.3rem;
    padding-top: 1rem;
    letter-spacing: 0.095rem;
}

.jobReview {
    font-weight: 400;
    margin-bottom: 0.35rem;
    letter-spacing: 0.095rem;
}

.authorReview {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 1.89rem;
    line-height: 2.39rem;
    color: #444444;
    margin: 0rem;
}

.shadowCityName {
    background: rgba(68, 68, 68, 0.4);
    color: #EEEEEE;
}

.infoReview {
    font-family: 'Montserrat';
    width: 13.99rem;
    height: 6.05rem;
    font-weight: 400;
    font-size: 0.819rem;
    line-height: 1.008rem;
    margin-left: 0.63rem;
    margin-top: 1.26rem;
}

.NamePost {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 0.63rem;
    line-height: 0.756rem;
    text-align: start;
    margin-left: 4.41rem;
}

.select-btn {
    margin-top: 1rem;
}

.btnsReview {
    text-decoration: none;
    font-size: 0.819rem;
    border-radius: 0.315rem;
    margin: 0.315rem;
    color: white;
}

.btnsReview:hover {
    color: white;
}

.prev-btn {
    font-size: 1.13rem;
    margin-top: -14.49rem;
    margin-bottom: 19.53rem;
    color: white;
}

.next-btn {
    font-size: 1.13rem;
    margin-top: -14.49rem;
    margin-bottom: 19.53rem;
    color: white;
}

.darkPrevNextBtn {
    color: black;
}

.hideBtn {
    color: rgba(255, 255, 255, 0.5);
}

/* CONTAINER DE LOS BTNS < > */
.divBtnsReview {
    width: 20.16rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerScrollXReview {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;

}

.containerScrollXReview::-webkit-scrollbar {
    /* width: 100%; */
    height: 0.200rem;
}

.containerScrollXReview::-webkit-scrollbar-thumb {
    background-color: #fd7e14;
    border-radius: 0rem;
}

.containerScrollXReview::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 0rem;
}

.itemScrollXReview {
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: center;
    text-align: center;
}

.mainCarrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridCarrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 244px;
}

.MainContainerCarrusel {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
    width: 15.24rem;
}

.SlidesContainerCarrusel {
    display: -moz-box;
    display: -webkit-box;
    transform: translateX(0);
    transition: transform 0.8s ease-in-out;
    width: 244px;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    border-radius: 20px;
}

.slide2,
.slide3 {
    margin-left: 40px;
}

.disable-button {
    opacity: 0.4;
    pointer-events: none;
    text-decoration: none;
}

.hero_-nav:not(.disable-button) {
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
}

.newDivBtnsPrevNext {
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 120%;
    bottom: 247px;
}

.prev,
.next {
    text-decoration: none;
    color: white;
}

.prev:hover::before,
.next:hover::before {
    color: white;
}


/* ------------------------------------------ RESTAURANT -------------------------------------------- */


.mainTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainDivMenu {
    margin: 0;
    padding: 0;
}

.titleMenu {
    margin-top: -7.56rem;
    font-weight: 200;
    font-size: 1rem;
    margin-top: 0.35rem;
    margin-bottom: 0rem;
    padding-top: 1rem;
    letter-spacing: 0.095rem;
}

.titleContainerRestaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underlineRestaurant {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    color: #E65100;
}

.filter-btn {
    margin: 0.126rem;
    margin-bottom: 0.315rem;
    color: white;
    background-color: rgb(0, 116, 0);
    border-radius: 0.315rem;
}

.underlineRestaurant {
    width: 60%;
    height: 0.063rem;
    background-color: #268432;
}

.underlinePlato {
    width: 60%;
    height: 0.063rem;
    margin-bottom: 2.205rem;
    margin-top: -0.315rem;
    margin-left: 1.26rem;
    background-color: #268432;
}

.titlePlato {
    display: flex;
    justify-content: space-around;
}

.namePlato {
    font-weight: 400;
    font-size: 1.26rem;
    margin-left: 0.945rem;
}

.price {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 0.22rem;
}

.textPlato {
    margin-top: -1.575rem;
    text-align: justify;
    margin-left: 1.89rem;
    margin-bottom: 0rem;
}

.imgPlato {
    border-radius: 1rem;
    margin: 0.63rem;
    margin-top: 1.26rem;
    width: 13.86rem;
    height: 13.86rem;
}

.mainDivMenu {
    padding-left: 0rem;
    margin-right: 1.575rem;
}

/* ------------------------------------------ ACCORDION -------------------------------------------- */

.cuarta {
    padding-top: 138.6rem;
}

.logosImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.126rem;
    margin-bottom: 0.63rem;
}

.lenjDiv {
    display: flex;
    flex-direction: column;
}

.divBar {
    width: 100%;
    height: 0.063rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.htmlBar {
    width: 3.15rem;
    background-color: #E65100;
}

.cssBar {
    width: 3.15rem;
    background-color: #039BE5;
}

.jsBar {
    width: 3.15rem;
    background-color: #ffd600;
}

.imgLenj {
    width: 1.89rem;
    height: 1.89rem;
    margin: 0rem 0.315rem;
}

.lenjSpan {
    margin-top: -0.315rem;
}

.textAccordion {
    text-align: center;
    font-size: 1.26rem;
    margin-top: 0.945rem;
}

.accordion {
    width: 17.64rem;
    border: 0.063rem black solid;
    margin-bottom: 3.15rem;
    border-radius: 0.504rem;
}

.containerAccordion {
    position: relative;
    margin: 0.63rem 0.63rem;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 1.07rem;
    cursor: pointer;
    text-align: left;
}

.linkHide {
    margin-top: 2.52rem;
    opacity: 0;
    transition: opacity 0.5s;
}

.divBtnAgregar {
    width: 18.9rem;
    margin-bottom: 0.063rem;
}

.btnAgregar {
    width: 4.725rem;
    border-radius: 0.315rem;
    background-color: white;
    margin-right: 0.63rem;
    background-color: #E65100;
    color: white;
}



.titulo::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: -0.126rem;
    font-size: 1.26rem;
    transform: translateY(-50%);
}

.content {
    position: relative;
    height: 0;
    font-size: 1.26rem;
    text-align: justify;
    width: 43.47rem;
    overflow: hidden;
    transition: 0.5s;
}

.accordion hr {
    width: 100%;
    background-color: rgb(204, 203, 203);
}

/*------------------------------------- BTN AGREGAR JAVA SCRIPT ----------------------------------------*/




/* ------------------------------------- ACCORDION / JAVA SCRIPT --------------------------------------- */

/* Cuando el container tiene la clase "active" al .content le pasa lo siguiente */
.containerAccordion.active .content {
    height: 6.3rem;
}

/* Cuando el container tiene la clase "active" al .titulo le pasa lo siguiente */
/* .containerAccordion.active .titulo {
    color: rgb(63, 245, 63);
} */

.containerAccordion.active .titulo::before {
    content: '-';
    font-size: 1.89rem;
}

/* Cuando el container tiene la clase "active" al .content le pasa lo siguiente */
.containerAccordion1.active .content {
    height: 6.3rem;
}

/* Cuando el container tiene la clase "active" al .titulo le pasa lo siguiente */
/* .containerAccordion.active .titulo {
    color: rgb(63, 245, 63);
} */

.containerAccordion1.active .titulo::before {
    content: '-';
    font-size: 1.89rem;
}


/* --------------------------------------------- COUNTER ---------------------------------------------- */


.mainDivCounter {
    width: 100%;
    font-size: 0.945rem;
}

.titleDivCounter {
    text-align: center;
    margin-bottom: 1.575rem;
}

.btnDivCounter {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnDivCounterUno {
    display: none;
}

.titleCounter {
    margin-top: 1.5rem;
}

.subTitleAccordion {
    font-size: 1.5rem;
}

.btnsCounter {
    padding: 0rem 1rem;
    border: 0.063rem solid black;
    background-color: #ffd600;
}

.work {
    font-size: 0.756rem;
}


/* -------------------------------------------- FOOTER ---------------------------------------------- */


.mainFooter {
    width: 100%;
    height: 15.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    background-color: #28145e;
}

.mainSectionFooter a {
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans';
    font-size: 0.63rem;
    color: beige;
}

.companyFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.945rem;
}

.linkFooterDiv {
    height: 6.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.945rem;
}

.logoPlusCompanyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoFooter {
    display: flex;
    flex-direction: column;
}

.infoFooter a {
    margin-bottom: 0.315rem;
}

.policyFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.redesFooter {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.logosRedesFooter {
    width: 6.93rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 0.315rem;
}

.imgLogoFooter {
    width: 3.15rem;
    margin-bottom: 0.189rem;
}

.companyFooter a {
    font-size: 0.945rem;
}

.titleRedes {
    font-size: 0.945rem;
    margin-left: 0.252rem;
    color: beige;
}

.bi {
    width: 1.13rem;
}

.copyFooter {
    font-size: 0.504rem;
    letter-spacing: 0.063rem;
    color: white;
    text-align: center;
    margin-bottom: 0.315rem;
}

.mainIntroBox {
    height: 100%;
}

.mainExplainBox {
    /* width: 80%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 3rem;
}


/* ---------------------------------- MEDIA QUERY (992)1440/900 ---------------------------------------- */
/* ---------------------------------- MEDIA QUERY (992)1440/900 ---------------------------------------- */
/* ---------------------------------- MEDIA QUERY (992)1440/900 ---------------------------------------- */


/* ACTUA CUANDO ES MAS GRANDE QUE 992px */
@media (min-width: 992px) {

    /* ---------------------------------------- NAVBAR ------------------------------------------- */

    #mainNavbar {
        height: 4.03rem;
    }

    /* CONTAINER NAV LINKS */
    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /* LINKS DEL NAVBAR */
    #mainNavbar .nav-link {
        margin-top: 0rem;
        padding: 0.504rem 2.52rem 0.504rem 0rem;
        color: rgb(255, 255, 255);
    }

    /* CONTAINER INPUT + LUPA */
    .formNavbar {
        display: flex;
    }

    /* INPUT NAVBAR */
    .inputNavbar {
        box-sizing: border-box;
        width: 11.53rem;
        height: 2.27rem;
        border: 0.063rem solid rgb(255, 255, 255);
        border-radius: 0.252rem 0rem 0rem 0.252rem;
        background-color: rgb(255, 255, 255, 0.5);
    }

    /* BTN LUPA NAVBAR */
    .btnNavbar {
        width: 2.835rem;
        height: 2.27rem;
        margin: 0rem 1.89rem 0rem 0rem;
        padding: 0rem;
        font-size: 1.26rem;
        border: 0.063rem solid rgb(255, 255, 255);
        border-radius: 0rem 0.252rem 0.252rem 0rem;
        color: white;
        background-color: transparent;
    }

    /* COMPANY NAME */
    #mainNavbar .navbar-brand {
        font-size: 1.51rem;
        margin-right: 3.15rem;
        margin-left: 3.465rem;
    }


    /* ---------------------------------------- VIDEO ------------------------------------------- */


    .sectionPrimera {
        justify-content: space-between;
        padding: 0px 100px;
    }

    .mainExplainBox {
        width: 100%;
        flex-direction: row-reverse;
        align-items: end;
        justify-content: space-between;
        padding-bottom: 4.98rem;
    }

    .mainIntroBox {
        width: 100%;
    }

    /* CONTIENE LOS DOS PRIMEROS PARRAFOS */
    .mainDivIntro {
        width: 30%;
        height: 100%;
        text-align: start;
        font-weight: 200;
        font-size: 1.13rem;
        line-height: 1.70rem;
        padding-top: 6.615rem;
        padding-left: 0rem;
        margin-left: -1.575rem;
    }

    /* PRIMER PARRAFO */
    .nameIntro {
        margin-bottom: 0.945rem;
    }

    /* VIDEO PROJECT + PARRAFO DESCRIPCIÓN PROYECTO */
    .mainExplainVideo {
        width: 37.04rem;
        height: 20.16rem;
    }

    .explainBody {
        align-items: end;
    }

    /* TITULO DE LA CARD */
    .videoProject {
        width: 34.46rem;
        height: 2.46rem;
        text-align: right;
        margin-top: 1.20rem;
        margin-bottom: 2.02rem;
        margin-right: 20px;
        font-size: 2.835rem;
        line-height: 2.46rem;
    }

    /* PARRAFO DESCRIPCIÓN DEL PROYECTO  */
    .descExplain {
        width: 34.46rem;
        height: 9.32rem;
        text-align: right;
        font-size: 1.13rem;
        font-weight: 200;
        line-height: 1.45rem;
        overflow-y: visible;
        margin-right: 20px;
    }

    /* CONTAINER LOGOS DE LENGUAJES */
    .logosDivExplainVideo {
        align-items: end;
        height: 11.02rem;
        padding: 1.575rem 0.63rem 0rem 0rem;
    }

    /* LOGOS DE LENGUAJES */
    .imgLenj {
        width: 2.52rem;
        height: 2.52rem;
        margin: 0rem 0.441rem;
    }

    /* CONTAINER SECTION BTN PLAY/PAUSE  */
    .mainPlayPauseSection {
        margin-left: -18px;
        margin-top: -2.52rem;
        border-radius: 0.252rem;
    }

    /* FONDO DE LOS BOTONES */
    .btnSwitchVideo {
        width: 19.53rem;
        margin: 0rem 0rem 0rem 0rem;
    }

    /* CONTIENE LOS BOTONES PLAY - PAUSE */
    .PlayPauseDiv {
        width: 19.53rem;
        height: 2.205rem;
        display: flex;
        flex-direction: row;
        margin: 0rem;
    }

    /* CONTAINER PALABRA Y SIMBOLO PLAY/PAUSE */
    .divPlay,
    .divPause {
        width: 4.725rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 0.189rem;
    }

    .divPause {
        width: 5.67rem;
        padding-left: 0.63rem;
    }

    /* SIMBOLO PLAY Y PAUSE */
    .btnPlayVideo,
    .btnPauseVideo {
        font-size: 1.575rem;
        color: white;
    }

    /* PALABRA PLAY Y PAUSE */
    .spanPlayBtn,
    .spanPauseBtn {
        font-size: 1.20rem;
        color: white;
    }


    /* ------------------------------------------ REVIEW --------------------------------------------- */


    /* CONTIENE TODOS LOS ELEMNETOS DE LA SECCIÓN */
    .mainCardReview {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    /* NOMBRE DEL PROYECTO */
    .ProjectNameReview {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 18.9rem;
        margin-top: 2.52rem;
        margin-bottom: 1.89rem;
        font-size: 2.205rem;
    }

    /* CONTAINER DE LA IMAGEN */
    .imgContainerReview {
        width: 100rem;
    }

    /* SEGUNDA Y TERCERA CARD */
    .secondReview {
        margin-left: 4.095rem;
        overflow: visible;
    }

    .thirdReview {
        overflow: hidden;
    }

    /* CONTAINER DE LOS DARKS BTNS Y SPANS */
    .mainDivDarkMode {
        width: 42.40rem;
        background-color: transparent;
        border-bottom: 0.063rem solid rgba(156, 156, 156);
        margin-left: 23.62rem;

    }

    /* CONTAINER DE LOS BTNS < > */
    .divBtnsReview {
        width: 49.14rem;
    }

    /* CONTAINER DE NOMBRE PROYECTO - EXPLICACIÓN Y LOGOS */
    .headDiv {
        height: 34.65rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        margin-left: 6.3rem;
        margin-right: 15.75rem;
    }

    /* DESCRIPCIÓN DEL PROYECTO */
    .parrafoReview {
        width: 22.68rem;
        height: 8.69rem;
        text-align: start;
    }

    /* IMAGEN LOGOS REVIEW */
    .imgLogosReview {
        width: 2.205rem;
        height: 1.89rem;
        margin: 0rem 1.07rem 3.15rem -0.189rem;
    }

    /* TEXTO DE LA REVIEW */
    .infoReview {
        margin-left: 2.52rem;
    }

    /* MONBRE Y FECHA DE LA REVIEW */
    .NamePost {
        margin-left: 6.3rem;
    }

    /* BOTON QUE CONTIENE LAS PALABRA DARK / LIGHT */
    .darkBtn {
        background-color: transparent;
    }

    /* PALABRA DARK  */
    .spanDark {
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }

    /* PALABRA LIGHT */
    .spanLigth {
        color: rgb(255, 255, 255);
        text-decoration: underline;
        padding: 0rem;
        display: inline;
        margin-left: 1.26rem;
    }

}

/* ACTUA CUANDO ES MAS PEQUEÑO QUE 992px */
@media (max-width: 992px) {
    .formNavbar {
        display: none;
    }

    /* LA PALABRA PLAY/PAUSE */
    .spanPlayBtn,
    .spanPauseBtn {
        display: none;
    }

}